<!DOCTYPE html>
<html>
  <head>
    <title> POST REGISTER PAGE </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2> Username: <%= username %> </h2>
    <h2> Email: <%= email %> </h2>
    <h3> Key: <%= key %> </h3>
    <h3> Salt: <%= salt %> </h3>
   
    <!-- Link for page 2 -->
    <a href="index"> Return to home page </a> <br>
    <a href="http://www.bdpa.org"&gt; Link to BDPA homepage </a> <br>
  </body>
</html>